@mixin respond-to-min($point) {
  @media only screen and (min-width: $point) {
    @content;
  }
}
.cart-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  margin: 0 355px; */
/*   padding: 0 14px; */
  @include respond-to-min(640px) {
    /* padding: 0 164px; */
  }
  /* padding-bottom: 23px; */
}

.cart-header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  p {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #999;
    margin-top: 22px;
  }
}
.cart-content-checkout {
  margin: 23px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  img {
    width: 90px;
    height: 114px;
  }
  p {
    max-width: 50px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
  }
  input {
    width: 47px;
    height: 27px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 0 9px;
  }
}

.input-content {
  display: flex;
  align-items: center;
  svg {
    cursor: pointer;
  }
}
.delete-button {
  cursor: pointer;
}
